<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="courseName" value="selenium"></parameter>
    <parameter name="cityName" value="pune"></parameter>
    <parameter name="browserName" value="chrome"></parameter>
    <listeners>   <!--run failed test cases auto -->
        <listener class-name="FailTestRun.IAnnotation"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" parallel="false" thread-count="2" name="C:/Users/KAPIL/IdeaProjects/SeleniumWithMavenProj">
        <classes>
            <class name="basicoftestng.PriorityEx"/>


        </classes>
    </test>
</suite>